
<div class="bg">
    <ng-container *ngIf="this.image != null">
        <div class="image" [ngStyle]="{'background-image': 'url(' + image.url + ')'}">
            <div class="reactions" [ngClass]="reactedTo == image.id ? 'invisible' : ''"> 
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="react('👍')">
                    👍
                </button>
        
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="react('❤️')">
                    ❤️
                </button>
        
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="react('💪')">
                    💪
                </button>
            </div>

            <div class="reactions" [ngClass]="reactedTo != image.id ? 'invisible' : ''">
                <p class="reacted">{{ this.reaction }}</p>
            </div>

            <div class="comment"> 
                <p>{{ this.image.metadata.comment }}</p>
                <br>
                <p>von {{ this.image.metadata.owner }}</p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="this.image == null">
        <div class="image" [ngStyle]="{'background-image': 'url(' + '/assets/City.jpg' + ')'}">
        </div>
    </ng-container>
</div>
